.loader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999;
}
.loader__dot {
  position: relative;
  width: 1.5em;
  height: 1.5em;
  margin: 0.8em;
  border-radius: 50%;
  -webkit-animation: bounce1 1s linear infinite;
          animation: bounce1 1s linear infinite;
}
.loader__dot:nth-child(2) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}
.loader__dot:nth-child(3) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.loader__dot::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: inherit;
  -webkit-animation: wave 1s ease-out infinite;
          animation: wave 1s ease-out infinite;
}
.loader__dot:nth-child(1) {
  background: #b289f0;
}
.loader__dot:nth-child(1)::before {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.loader__dot:nth-child(2) {
  background: #5a46b4;
}
.loader__dot:nth-child(2)::before {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
.loader__dot:nth-child(3) {
  background: #7b0fba;
}
.loader__dot:nth-child(3)::before {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

@-webkit-keyframes wave {
  50%, 75% {
    transform: scale(2.5);
  }
  80%, 100% {
    opacity: 0;
  }
}

@keyframes wave {
  50%, 75% {
    transform: scale(2.5);
  }
  80%, 100% {
    opacity: 0;
  }
}
@-webkit-keyframes bounce1 {
  from, to {
    transform: translateY(0) scale(1, 1);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    transform: translateY(5em) scale(1, 1);
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
  }
  50% {
    transform: translateY(5em) scale(1.5, 0.5);
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
  }
  55% {
    transform: translateY(5em) scale(1, 1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes bounce1 {
  from, to {
    transform: translateY(0) scale(1, 1);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    transform: translateY(5em) scale(1, 1);
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
  }
  50% {
    transform: translateY(5em) scale(1.5, 0.5);
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
  }
  55% {
    transform: translateY(5em) scale(1, 1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@-webkit-keyframes slideUp {
  from {
    transform: translateY(-100%);
    opacity: 1;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideUp {
  from {
    transform: translateY(-100%);
    opacity: 1;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes slideDown {
  from {
    transform: translateY(100%);
    opacity: 1;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideDown {
  from {
    transform: translateY(100%);
    opacity: 1;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes slideDown2 {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideDown2 {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes slideDown1 {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(100%);
    opacity: 0;
  }
}
@keyframes slideDown1 {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(100%);
    opacity: 0;
  }
}
@-webkit-keyframes slideL {
  from {
    transform: translateX(-100%);
    opacity: 1;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideL {
  from {
    transform: translateX(-100%);
    opacity: 1;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes slideR {
  from {
    transform: translateX(100%);
    opacity: 1;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideR {
  from {
    transform: translateX(100%);
    opacity: 1;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes example1 {
  0% {
    transform: translateY(100%);
  }
  25% {
    transform: translateY(75%);
  }
  50% {
    transform: translateY(50%);
  }
  75% {
    transform: translateY(25%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes example1 {
  0% {
    transform: translateY(100%);
  }
  25% {
    transform: translateY(75%);
  }
  50% {
    transform: translateY(50%);
  }
  75% {
    transform: translateY(25%);
  }
  100% {
    transform: translateY(0%);
  }
}
@-webkit-keyframes example2 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}
@keyframes example2 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}
*,
*::after,
*::before {
  box-sizing: inherit;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

html, body {
  width: 100%;
  max-width: 100%;
  height: 100%;
}

html {
  box-sizing: border-box;
  font-size: 0.5208333333vw;
  overflow-y: auto;
}

body {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 180%;
  color: #464646;
  background: #FFFFFF;
  position: relative;
  overflow-y: scroll;
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

main {
  flex: 1 0 auto;
  position: relative;
  overflow-x: hidden;
}

.overflow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  overflow: hidden;
}
.overflow:before {
  content: "";
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background: rgba(73, 73, 73, 0.3);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
.overflow_body .wrapper {
  display: none;
}
.overflow_body:before {
  content: none;
}

.container {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 2rem;
}

.footer {
  flex: 0 0 auto;
}

ul[class] {
  list-style: none;
}

img {
  display: block;
}

input:hover, input:focus, input:active,
button:hover,
button:focus,
button:active {
  outline: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
  transition: 0.3s;
  cursor: pointer;
}
a:active, a:focus, a:hover {
  opacity: 0.85;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

.object-fit {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.base-questions-accordion__body {
  display: none;
}

.title_purple, h2 {
  color: #AF00CB;
  text-shadow: 0px 1.8rem 3rem rgba(0, 0, 0, 0.35);
  text-transform: uppercase;
}

h2 {
  font-weight: 900;
  font-size: 4rem;
  line-height: 4.9rem;
}

button, .link {
  width: 100%;
  max-width: 36rem;
  height: 6.9rem;
  border: none;
  background: #AF00CB;
  border-radius: 1000rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 2rem;
  line-height: 164.4%;
  text-transform: uppercase;
  color: #FFFFFF;
}

@media only screen and (max-width: 1600px) {
  html {
    font-size: 0.625vw;
  }
}
@media only screen and (max-width: 1440px) {
  html {
    font-size: 0.6944444444vw;
  }
}
@media only screen and (max-width: 998px) {
  html {
    font-size: 1.002004008vw;
  }

  .container {
    padding: 0 5rem;
    justify-items: center; 
  }
}
@media only screen and (max-width: 778px) {
  html {
    font-size: 1.25vw;
  }
}
@media only screen and (max-width: 580px) {
  html {
    font-size: 2.380952381vw;
  }

  .container {
    padding: 0 2rem;
    justify-items: center; 
  }

  button, .link {
    height: 4.6rem;
    font-size: 1.8rem;
  }

  h2 {
    font-size: 1.7rem;
    line-height: 2.1rem;
    text-shadow: 0px 0.5rem 2rem rgba(0, 0, 0, 0.3);
  }
}
@media only screen and (max-width: 450px) {
  html {
    font-size: 2.6666666667vw;
  }
}
@media only screen and (max-width: 375px) {
  html {
    font-size: 2.6666666667vw;
  }
}
.footer {
  padding: 7rem 0 5rem;
}
.footer__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__list {
  margin: 0 -2rem;
  display: flex;
  align-items: center;
}
.footer__item {
  padding: 0 2rem;
}
.footer__social {
  max-width: 3.6rem;
}
.footer__link {
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.4rem;
  text-align: right;
  color: #AF00CB;
  border-bottom: 1px solid #AF00CB;
}

@media only screen and (max-width: 998px) {
  .footer {
    padding: 2rem 0 2.4rem;
  }
  .footer__social {
    display: block;
    max-width: 2.5rem;
  }
}
@media only screen and (max-width: 580px) {
  .footer {
    padding: 0;
  }
  .footer__row {
    margin: 0;
    flex-direction: column;
    width: 100%;
    border-top: 1px solid #AF00CB;
    padding: 2rem 0 2.4rem;
  }
  .footer__list {
    margin: 0 -1.5rem 2rem;
    justify-content: center;
  }
  .footer__item {
    padding: 0 1.5rem;
  }
  .footer__social {
    max-width: 3.6rem;
  }
  .footer__link {
    font-size: 1.6rem;
    line-height: 2rem;
  }
}
.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.7rem;
  padding: 4.5rem 0;
}
.header__burger {
  display: none;
  position: relative;
  width: 29px;
  height: 17px;
  z-index: 47;
  flex-direction: column;
  justify-content: space-between;
}
.header__burger:before, .header__burger:after, .header__burger-line {
  content: "";
  display: block;
  height: 3px;
  width: 100%;
  border-radius: 20%;
  transition: 0.5s;
  background: #AF00CB;
}
.header__burger:after {
  width: 18px;
}
.header__burger:hover {
  cursor: pointer;
}
.header__row {
  display: flex;
  justify-content: space-between;
}
.header-nav {
  transition: transform 0.55s;
  height: 100%;
}
.header-nav__list {
  display: flex;
  align-items: center;
}
.header-nav__item {
  margin-right: 2rem;
  transition: 0.3s;
}
.header-nav__item:hover, .header-nav__item:active, .header-nav__item:focus {
  text-shadow: 1px 0 #AF00CB;
  color: #AF00CB;
}
.header-nav-mob {
  display: none;
}

@media only screen and (max-width: 998px) {
  .header {
    z-index: 999;
    padding: 4rem 0;
    font-weight: 400;
    font-size: 1.7rem;
    line-height: 2.1rem;
    color: #AF00CB;
  }
  .header__burger {
    display: flex;
  }
  .header-nav {
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    height: 100vh;
    width: 70%;
    min-width: 32rem;
    padding: 10rem 3rem 6rem 2.4rem;
    overflow-y: auto;
    transform: translateX(-100%);
    background: #FFFFFF;
    box-shadow: 1.2rem 1rem 2.4rem rgba(0, 0, 0, 0.2);
    -webkit-backdrop-filter: blur(1.6rem);
            backdrop-filter: blur(1.6rem);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .header-nav-mob {
    display: block;
    width: 100%;
  }
  .header-nav-mob__link {
    width: 100%;
    max-width: 20.8rem;
    height: 5rem;
    box-shadow: 0px 1rem 3.2rem -3px rgba(0, 0, 0, 0.26);
    border-radius: 2.8rem;
    font-size: 1.8rem;
    margin: 5rem auto 8rem;
  }
  .header-nav-mob-social__list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 -0.9rem;
  }
  .header-nav-mob-social__link {
    padding: 0 0.9rem;
  }
  .header-nav-mob-social__svg {
    max-width: 2.5rem;
    height: auto;
  }
  .header-nav__list {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .header-nav__item {
    padding: 2.2rem 0 2.8rem;
    overflow: hidden;
    box-sizing: border-box;
    min-height: 7rem;
    border-bottom: 1px solid rgba(175, 0, 203, 0.25);
    width: 100%;
  }
  .header-nav__item:last-child {
    border-bottom: none;
  }
  .header.show .header__burger {
    height: 23px;
    width: 23px;
    position: absolute;
    left: 2.4rem;
  }
  .header.show .header__burger:before, .header.show .header__burger:after, .header.show .header__burger-line {
    top: 0.8rem;
    width: 29px;
    position: absolute;
    border-radius: 3px;
  }
  .header.show .header__burger:before, .header.show .header__burger:after {
    transform: rotateZ(45deg);
  }
  .header.show .header__burger-line {
    right: -6px;
    transform: rotateZ(-45deg);
    margin: 0;
  }
  .header.show .header-nav {
    transform: translateX(0px);
  }
  .header.show .header-nav__item a {
    -webkit-animation: 1.5s slideUp ease forwards 0.2s;
            animation: 1.5s slideUp ease forwards 0.2s;
    transform: translateY(100%);
    display: flex;
  }
}
.base-main {
  padding: 9.7rem 0 4.8rem;
  overflow: hidden;
  position: relative;
  background: #FFFFFF;
  box-shadow: 0px 2.5rem 4.1rem rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 3.5rem 3.5rem;
}
.base-main__line {
  width: 100%;
  height: 35.7rem;
  position: absolute;
  z-index: 4;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(0deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
}
.base-main__circle {
  width: 109rem;
  height: 109rem;
  background: radial-gradient(50% 50% at 50% 50%, #B200D4 0%, rgba(178, 0, 212, 0) 100%);
  mix-blend-mode: hard-light;
  opacity: 0.6;
  filter: blur(5rem);
  position: absolute;
  top: 0;
  z-index: 1;
  left: 15%;
}
.base-main__row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: relative;
}
.base-main__img {
  height: auto;
  position: absolute;
  z-index: 3;
}
.base-main__img_Lyosha {
  width: 73.2rem;
  bottom: -9rem;
  left: 25%;
  opacity: 0;
}
.base-main__img_Lyuba {
  width: 82.8rem;
  bottom: -2rem;
  left: 16%;
}
.base-main__title {
  padding-top: 8rem;
  position: relative;
  z-index: 2;
  width: 65rem;
  height: auto;
  margin-left: -5.3rem;
}
.base-main__caption {
  max-width: 52rem;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.4rem;
  margin: -2.3rem 0 12rem;
  position: relative;
  z-index: 2;
}
.base-main-card {
  overflow: hidden;
  box-shadow: 0px 3rem 5.2rem rgba(0, 0, 0, 0.2);
  border-radius: 4rem;
  max-width: 52.4rem;
  background: #FFFFFF;
  position: relative;
  z-index: 5;
  margin-left: auto;
}
.base-main-card__head {
  background-image: url("../images/base-program-back.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 2.7rem;
  font-weight: 700;
  font-size: 2.2rem;
  line-height: 2.7rem;
  color: #FFFFFF;
  text-shadow: 0px 1rem 3rem rgba(0, 0, 0, 0.35);
}
.base-main-card__list {
  display: flex;
  justify-content: space-between;
  padding: 2.4rem 6.2rem 2.7rem;
}
.base-main-card__item {
  text-align: center;
  font-weight: 800;
  font-size: 4rem;
  line-height: 4.9rem;
  color: #AF00CB;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.base-main-card__small {
  font-weight: 600;
  font-size: 1.3rem;
  line-height: 1.6rem;
  color: #464646;
  margin-top: 0.6rem;
}
.base-main__list {
  display: flex;
  align-items: center;
  margin: 0 -1rem;
  position: relative;
  z-index: 2;
}
.base-main__item {
  margin: 0 1rem;
  width: 12rem;
  height: 12rem;
}
.base-main__parallelogram {
  width: 60.6rem;
  height: 38.5rem;
  background-image: url("../images/parallelogram.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 130.4%;
  text-align: center;
  color: #AF00CB;
  text-shadow: 0px 0px 3rem rgba(0, 0, 0, 0.5);
  padding: 9.6rem 3.5rem 4.3rem 13rem;
  position: relative;
  z-index: 2;
  margin-left: auto;
  margin-right: -5rem;
  margin-bottom: 4rem;
}
.base-main__parallelogram p {
  max-width: 37.6rem;
}
@media only screen and (min-width: 1024px) {
  .base-main__img {
    -webkit-animation-duration: 10s;
            animation-duration: 10s;
  }
  .base-main__img_Lyosha {
    -webkit-animation-name: slideDown1;
            animation-name: slideDown1;
  }
  .base-main__img_Lyuba {
    -webkit-animation-name: slideDown2;
            animation-name: slideDown2;
  }
  .base-main__line {
    -webkit-animation: 3.5s slideDown ease forwards 0.2s;
            animation: 3.5s slideDown ease forwards 0.2s;
  }
  .base-main__title {
    -webkit-animation: 3.5s slideUp ease forwards 0.2s;
            animation: 3.5s slideUp ease forwards 0.2s;
  }
  .base-main__caption {
    -webkit-animation: 3.5s slideUp ease forwards 0.2s;
            animation: 3.5s slideUp ease forwards 0.2s;
  }
  .base-main__list {
    -webkit-animation: 3.5s slideL ease forwards 0.2s;
            animation: 3.5s slideL ease forwards 0.2s;
  }
  .base-main-card {
    -webkit-animation: 3.5s slideR ease forwards 0.2s;
            animation: 3.5s slideR ease forwards 0.2s;
  }
  .base-main__parallelogram {
    -webkit-animation: 3.5s slideUp ease forwards 0.2s;
            animation: 3.5s slideUp ease forwards 0.2s;
  }
}
.base-info {
  font-size: 3.2rem;
  line-height: 3.9rem;
  padding: 12rem 0;
}
.base-info__wrap {
  border-left: 2px solid #AF00CB;
  padding: 8.9rem 0 8rem 3rem;
}
.base-info__subtitle {
  font-weight: 700;
  text-transform: uppercase;
}
.base-info__title {
  font-size: 7rem;
  line-height: 3rem;
  margin: 4rem 0 4.7rem;
}
.base-info__title_small {
  font-size: 4rem;
  line-height: 4.9rem;
  margin: 0 0 4rem;
}
.base-info__text b {
  font-weight: 700;
  padding-bottom: 3.8rem;
  display: inline-block;
}
.base-info__text p {
  padding-bottom: 1.5rem;
}
.base-info__text p:last-child {
  padding-bottom: 0;
}
.base-info__link {
  margin-top: 4rem;
}
.base-info-economy {
  padding: 0;
}
.base-info-economy__wrap {
  padding: 3.4rem 3rem;
}
.base-usefulness__wrap {
  background-image: url("../images/base-usefulness_back.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 6rem;
  box-shadow: 0px 3rem 5.2rem rgba(0, 0, 0, 0.2);
  border-radius: 4rem;
}
.base-usefulness__title {
  color: #FFFFFF;
  text-shadow: 0px 0px 3rem rgba(0, 0, 0, 0.5);
  margin-bottom: 4rem;
}
.base-usefulness__grid {
  display: grid;
  grid-template-columns: 71.1rem 1fr;
  margin: -1rem;
}
.base-usefulness__item {
  padding: 1rem;
}
.base-usefulness__item:nth-child(1) .base-usefulness__subtitle {
  font-size: 4rem;
}
.base-usefulness__item:nth-child(1) .base-usefulness__svg {
  width: 32.7rem;
  height: 32.7rem;
  right: -3.8rem;
}
.base-usefulness__item:nth-child(2) {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
}
.base-usefulness__item:nth-child(2) .base-usefulness__content {
  padding: 4.5rem 2rem;
}
.base-usefulness__item:nth-child(2) .base-usefulness__svg {
  width: 31.6rem;
  height: 31.6rem;
  right: -1.3rem;
  bottom: 2rem;
}
.base-usefulness__item:nth-child(3) .base-usefulness__content {
  padding: 2rem 3rem;
}
.base-usefulness__item:nth-child(3) .base-usefulness__svg {
  width: 18rem;
  height: 18rem;
  right: 2.7rem;
}
.base-usefulness__svg {
  position: absolute;
  right: 0;
  bottom: 0;
}
.base-usefulness__content {
  background: #FFFFFF;
  box-shadow: 0px 3rem 3.2rem rgba(0, 0, 0, 0.1);
  border-radius: 3rem;
  position: relative;
  height: 100%;
  padding: 3.8rem 3rem;
  overflow: hidden;

}
.base-usefulness__subtitle {
  font-weight: 800;
  font-size: 2.4rem;
  line-height: 130.4%;
  margin-bottom: 1.2rem;
}
.base-usefulness__text {
  font-weight: 500;
  font-size: 2rem;
  line-height: 130.4%;
}
.base-usefulness__text b {
  font-weight: 700;
}
.base-usefulness__text p {
  padding-bottom: 1.5rem;
}
.base-usefulness__text p:last-child {
  padding-bottom: 0;
}
.base-program {
  padding: 12.3rem 0 12rem;

}
.base-program__title {
  text-align: center;
  margin-bottom: 8rem;
}
.base-program__swiper {
  overflow: visible;


}
.base-program__slide {
  height: auto;
  width: 50%;
  align-items: center;
  justify-self: center;

  
}
.base-program__slide #supplierBase2 .base-program-body__item:nth-child(11) {
  display: none;
  
}
@media only screen and (max-width: 998px) {
  .base-program__slide #supplierBase2 .base-program-body__item:nth-child(6), .base-program__slide #supplierBase2 .base-program-body__item:nth-child(7), .base-program__slide #supplierBase2 .base-program-body__item:nth-child(8), .base-program__slide #supplierBase2 .base-program-body__item:nth-child(9), .base-program__slide #supplierBase2 .base-program-body__item:nth-child(10) {
    display: none;
  }
  .base-program__slide #supplierBase2 .base-program-body__item:nth-child(11) {
    display: grid;
  }
}
.base-program__content {
  background: #FFFFFF;
  box-shadow: 0px 3rem 3.2rem rgba(0, 0, 0, 0.1);
  border-radius: 3rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.base-program-head {
  background-image: url("../images/base-program-back.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 2rem;
  padding: 2rem 2.6rem;
  box-shadow: 1rem 0px 3rem rgba(0, 0, 0, 0.5);
  min-height: 27rem;
  display: flex;
  flex-direction: column;
  position: relative;
}
.base-program-head__img {
  position: absolute;
  bottom: 0;
  right: -5rem;
  width: 45.5rem;
  height: auto;
}
.base-program-head__img_group {
  position: absolute;
  bottom: 0;
  right: 0;
}
.base-program-head__img_base {
  width: 56rem;
  right: -10.5rem;
  height: auto;
  position: absolute;
  bottom: 0;
}
.base-program-head__img_money {
  border-radius: 2rem;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  right: 0;
}
.base-program-head__img_money_img {
  width: 37rem;
  height: auto;
}
.base-program-head__timer {
  text-align: center;
  color: #FFFFFF;
  font-size: 1.4rem;
  line-height: 1.7rem;
  font-weight: 500;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto 0 2.8rem;
}
.base-program-head__time {
  color: #AF00CB;
  font-weight: 800;
  margin-top: 3px;
  font-size: 1.6rem;
  line-height: 110%;
  background: #ffffff;
  box-shadow: 0 3rem 5.2rem rgba(0, 0, 0, 0.2);
  border-radius: 0.8rem;
  padding: 1rem 2.5rem;
}
.base-program-head__title {
  font-weight: 900;
  font-size: 6rem;
  line-height: 131.9%;
  text-transform: uppercase;
  color: #FFFFFF;
  text-shadow: 0px 0.5rem 2rem rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 2;
  max-width: 50%;
}
.base-program-body {
  padding: 2rem 3.7rem 0;
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.base-program-body__item {
  display: grid;
  grid-template-columns: 2.8rem 1fr;
  margin-bottom: 1rem;
  align-items: center;
}
.base-program-body__item:last-child {
  margin-bottom: 0;
}
.base-program-body__icon {
  width: 2.8rem;
  height: 2.8rem;
  background: #AF00CB;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.base-program-body__text {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2rem;
  padding-left: 1.7rem;
}
.base-program-body__text b {
  font-weight: 700;
}
.base-program-body__texts {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 130.4%;
  padding: 1.8rem 0;
}
.base-program-body__texts b {
  font-weight: 800;
}
.base-program-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.base-program-footer-price {
  display: flex;
  align-items: flex-end;
}
.base-program-footer-price__price {
  font-weight: 700;
  font-size: 4rem;
  line-height: 100%;
  color: #464646;
  margin: 0 0.8rem;
}
.base-program-footer-price__price_discount {
  color: #C4C4C4;
  text-decoration: line-through;
}
.base-program-footer__btn {
  margin: 2rem 0 3rem;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
}
.base-questions__row {
  display: grid;
  /* grid-template-columns: 1fr 68.7rem; */
  position: relative;
  
  
  
  
}
.base-questions__caption {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 180%;
  margin-top: 1.4rem;
}
.base-questions__img {
  width: 64.5rem;
  height: 66.3rem;
  position: absolute;
  left: -9rem;
  top: 5rem;
}
.base-questions-accordion__item {
  padding: 2rem 0;
  border-bottom: 1px solid #AF00CB;
}
.base-questions-accordion__head {
  display: grid;
  grid-template-columns: 1fr 2.3rem;
  font-weight: 700;
  font-size: 2.6rem;
  line-height: 140%;
  align-items: center;
}
.base-questions-accordion__head.active .base-questions-accordion__svg {
  transform: rotate(180deg);
}
.base-questions-accordion__svg {
  width: 2.3rem;
  height: auto;
  transition: 0.3s;
}
.base-questions-accordion__body {
  padding-top: 2rem;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 180%;
}
.base-telegram {
  padding: 18rem 0 12rem;
}
.base-telegram__title {
  text-align: center;
}
.base-telegram__wrap {
  max-width: 71rem;
  width: 100%;
  border-radius: 3rem;
  margin: 4rem auto 0;
  overflow: hidden;
  box-shadow: 0px 3rem 5.2rem rgba(0, 0, 0, 0.2);
  background: #FFFFFF;
}
.base-telegram-head {
  display: flex;
  align-items: center;
  padding: 2rem 2rem 1rem;
  background-image: url("../images/base-program-back.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.base-telegram-head__img {
  width: 6.2rem;
  height: 6.2rem;
  margin-right: 2rem;
}
.base-telegram-head__text {
  font-weight: 600;
  font-size: 1.7rem;
  line-height: 2.1rem;
  color: #FFFFFF;
}
.base-telegram-head__online {
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.5rem;
  margin-top: 3px;
}
.base-telegram-body {
  background-image: url("../images/base-telegram-body__back.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 2.6rem 3.3rem 7.9rem;
}
.base-telegram-body__name {
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: #AF00CB;
  margin-bottom: 0.9rem;
  position: relative;
}
.base-telegram-body__text {
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.4rem;
  position: relative;
  background: #FFFFFF;
  box-shadow: 0px 3rem 3.2rem rgba(0, 0, 0, 0.1);
  border-radius: 2rem;
  padding: 3rem 2rem 4.2rem;
  width: 46rem;
}
.base-telegram-body__text p {
  margin-bottom: 1.2rem;
}
.base-telegram-body__text p:last-child {
  margin-bottom: 0;
}
.base-telegram-body__text:before {
  content: url("../images/icons/triangle.svg");
  width: 4.5rem;
  height: 2.4rem;
  position: absolute;
  top: 0;
  left: -2.3rem;
}
.base-telegram-foot {
  padding: 1.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.base-telegram-foot__link {
  max-width: 26.7rem;
  height: 4.6rem;
  box-shadow: 0px 3rem 5.2rem rgba(0, 0, 0, 0.2);
  font-size: 1.8rem;
}
.base-order {
  max-width: 77.2rem;
  background: #FFFFFF;
  box-shadow: 0px 1.4rem 2.4rem rgba(0, 0, 0, 0.25);
  border-radius: 2.8rem;
  padding: 9rem 6rem;
}
.base-order ::-moz-placeholder {
  font-weight: 400;
  font-size: 2.2rem;
  line-height: 2.7rem;
  color: rgba(70, 70, 70, 0.75);
}
.base-order :-moz-placeholder {
  font-weight: 400;
  font-size: 2.2rem;
  line-height: 2.7rem;
  color: rgba(70, 70, 70, 0.75);
}
.base-order :-ms-input-placeholder {
  text-align: center;
  font-weight: 600;
  font-size: 3rem;
  line-height: 150%;
  color: rgba(255, 255, 255, 0.5);
}
.base-order ::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 2.2rem;
  line-height: 2.7rem;
  color: rgba(70, 70, 70, 0.75);
}
.base-order__title {
  font-weight: 700;
  font-size: 4rem;
  line-height: 4.9rem;
  color: #AF00CB;
}
.base-order-price {
  font-size: 1.7rem;
  line-height: 2.1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgba(70, 70, 70, 0.25);
  border-bottom: 1px solid rgba(70, 70, 70, 0.25);
  padding: 3rem 0 2.2rem;
  margin: 4rem 0 2.1rem;
}
.base-order-price__text {
  font-weight: 700;
}
.base-order__subtitle {
  font-weight: 700;
  font-size: 1.9rem;
  line-height: 2.4rem;
}
.base-order__caption {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2rem;
  margin: 3rem 0;
}
.base-order__label {
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: rgba(70, 70, 70, 0.75);
  margin-bottom: 1.2rem;
}
.base-order__input {
  height: 8.1rem;
  border: 1px solid #464646;
  border-radius: 0.8rem;
  padding: 2.8rem 2rem;
  width: 100%;
}
.base-order__btn {
  max-width: 58.8rem;
  margin: 4rem auto 2.1rem;
}
.base-order__small {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.5rem;
  text-align: center;
  color: #AF00CB;
  display: inherit;
}
.base-order__link {
  text-decoration: underline;
}
.base-order__banner {
  width: 100%;
  background: #A2F3B4;
  border-radius: 0.8rem;
  padding: 5.2rem 5.8rem;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 164.4%;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 2rem;
}
@media only screen and (max-width: 998px) {
  .base-main {
    padding: 8.7rem 0 0;
    overflow: visible;
    box-shadow: none;
    border-radius: 0;
  }
  .base-main__line {
    height: 15rem;
  }
  .base-main__circle {
    width: 55rem;
    height: 55rem;
    opacity: 0.3;
  }
  .base-main__img {
    height: auto;
    position: absolute;
    z-index: 3;
  }
  .base-main__img_Lyosha {
    display: none;
  }
  .base-main__img_Lyuba {
    width: 60rem;
    bottom: 0;
    left: 18%;
  }
  .base-main__title {
    padding-top: 0;
    width: 50rem;
    margin-left: -4.3rem;
  }
  .base-main__caption {
    margin: -3.3rem 0 12rem;
    font-size: 2rem;
    line-height: 2.5rem;
    max-width: 45rem;
  }
  .base-main__item {
    width: 8rem;
    height: 8rem;
  }
  .base-main-card {
    box-shadow: 0px 3rem 5.2rem rgba(0, 0, 0, 0.2);
    border-radius: 2rem;
    max-width: 30.6rem;
    margin-top: 8rem;
  }
  .base-main-card__head {
    padding: 1.5rem 2rem;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.5rem;
    text-shadow: 0px 0px 3rem rgba(0, 0, 0, 0.5);
  }
  .base-main-card__list {
    display: flex;
    justify-content: space-between;
    padding: 0.9rem 2.3rem;
  }
  .base-main-card__item {
    font-size: 3rem;
    line-height: 3.7rem;
  }
  .base-main-card__small {
    font-size: 1rem;
    line-height: 1.2rem;
    margin-top: 4px;
  }
  .base-main__parallelogram {
    width: 40.5rem;
    height: 26.5rem;
    font-size: 1.8rem;
    line-height: 130.4%;
    text-shadow: 0px 1rem 3rem rgba(0, 0, 0, 0.35);
    padding: 6rem 0 0 8.5rem;
    margin: 0 0 0 auto;
  }
  .base-main__parallelogram p {
    max-width: 26rem;
  }
  .base-usefulness__grid {
    grid-template-columns: 1fr;
  }
  .base-usefulness__item:nth-child(n) {
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .base-usefulness__item:nth-child(n) .base-usefulness__subtitle {
    font-size: 2.4rem;
  }
  .base-usefulness__item:nth-child(n) .base-usefulness__content {
    padding: 3.8rem 3rem;
  }
  .base-usefulness__item:nth-child(2) {
    grid-row-start: 2;
  }
  .base-program .swiper-wrapper {
    flex-direction: column;
  }
  .base-program__slide {
    width: 100% !important;
    margin-bottom: 7rem;
  }
  .base-program__slide:last-child {
    margin-bottom: 0;
  }
  .base-questions__row {
    grid-template-columns: 1fr;
  }
  .base-questions__caption, .base-questions__img {
    display: none;
  }
  .base-telegram {
    padding: 6rem 0;
  }
  .base-info {
    font-size: 2.2rem;
    line-height: 2.9rem;
  }
  .base-info__title {
    font-size: 4rem;
    line-height: 4.9rem;
    margin: 2rem 0;
  }
  .base-info__wrap {
    padding: 3rem 0 3rem 3rem;
  }
  .base-info-economy {
    padding-bottom: 4.2rem;
  }
  .base-info-economy__wrap {
    background: #FFFFFF;
    box-shadow: 0px 30px 52px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    border-left: none;
    padding: 3rem;
  }
  .base-info-economy__title, .base-info-economy__text {
    text-align: center;
  }
  .base-info-economy__link {
    margin: 4rem auto 0;
  }
}
@media only screen and (max-width: 778px) {
  .base-main__circle {
    width: 41.6rem;
    height: 41.6rem;
  }
  .base-main__title {
    width: 38rem;
    margin-left: -3rem;
  }
  .base-main__caption {
    font-size: 1.6rem;
    line-height: 2rem;
    margin-bottom: 8rem;
  }
  .base-main__list {
    margin: 0 -0.5rem;
  }
  .base-main__item {
    margin: 0 0.5rem;
    width: 4rem;
    height: 4rem;
  }
  .base-main__img_Lyuba {
    width: 54rem;
    left: 15%;
  }
  .base-main-card {
    margin-top: 5rem;
  }
  .base-main__parallelogram {
    width: 30.5rem;
    height: 19.5rem;
    font-size: 1.2rem;
    line-height: 130.4%;
    text-shadow: 0px 1rem 3rem rgba(0, 0, 0, 0.35);
    padding: 5rem 0 0 6.5rem;
    margin-right: -2.5rem;
  }
  .base-main__parallelogram p {
    max-width: 18rem;
  }
  .base-info {
    padding: 6rem 0;
  }
}
@media only screen and (max-width: 580px) {
  .base-main__line {
    height: 10.6rem;
    background: linear-gradient(0deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
    bottom: 12rem;
  }
  .base-main__circle {
    opacity: 0.3;
    top: -4.6rem;
    right: -10rem;
    left: auto;
  }
  .base-main__row {
    grid-template-columns: 1fr;
  }
  .base-main__img_Lyuba {
    width: 39.4rem;
    transform: rotate(4.75deg);
    bottom: 9rem;
    left: auto;
    right: -10.3rem;
  }
  .base-main__title {
    width: 100%;
  }
  .base-main__caption {
    margin-bottom: 25rem;
    max-width: 100%;
  }
  .base-main__parallelogram {
    margin: 0;
    position: absolute;
    bottom: 23rem;
    top: auto;
    left: -3rem;
    font-size: 1.4rem;
    padding: 4.5rem 0 0 5.5rem;
  }
  .base-main__parallelogram p {
    max-width: 21rem;
  }
  .base-main-card {
    margin-top: 3.2rem;
  }
  .base-main__list {
    display: none;
  }
  .base-info {
    padding: 5.2rem 0;
    font-size: 1.2rem;
    line-height: 2rem;
  }
  .base-info__title {
    font-size: 1.7rem;
    line-height: 3rem;
    margin: 0.5rem 0 1rem;
  }
  .base-info__wrap {
    padding: 1rem 0 1rem 2.4rem;
    border-width: 1px;
  }
  .base-info__text b {
    padding-bottom: 1.8rem;
  }
  .base-info-economy {
    padding: 0 0 4.2rem;
  }
  .base-info-economy__wrap {
    padding: 2rem 1.2rem;
  }
  .base-info-economy__title {
    text-shadow: 0px 0.5rem 2rem rgba(0, 0, 0, 0.4);
  }
  .base-info-economy__link {
    margin-top: 2.4rem;
    max-width: 26.7rem;
  }
  .base-usefulness__wrap {
    border-radius: 2rem;
    padding: 3rem 2.2rem 3rem 2rem;
  }
  .base-usefulness__title {
    text-shadow: 1.3rem 0px 3rem rgba(0, 0, 0, 0.9);
    margin-bottom: 2.1rem;
  }
  .base-usefulness__item:nth-child(n) .base-usefulness__subtitle {
    font-size: 1.7rem;
    margin-bottom: 1rem;
  }
  .base-usefulness__item:nth-child(n) .base-usefulness__text {
    font-size: 1.2rem;
  }
  .base-usefulness__item:nth-child(n) .base-usefulness__content {
    padding: 2rem;
  }
  .base-usefulness__item:nth-child(1) .base-usefulness__svg {
    width: 13.9rem;
    height: 13.9rem;
    right: -2rem;
    bottom: -0.7rem;
  }
  .base-usefulness__item:nth-child(2) .base-usefulness__svg {
    width: 19.2rem;
    height: 19.2rem;
    right: 0.5rem;
    bottom: 0.8rem;
  }
  .base-usefulness__item:nth-child(3) .base-usefulness__svg {
    width: 12rem;
    height: 12rem;
    right: -1.7rem;
    bottom: -1rem;
    transform: rotate(-27.47deg);
  }
  .base-usefulness__content {
    box-shadow: 0px 3rem 3.2rem rgba(0, 0, 0, 0.1);
    border-radius: 2.6rem;
  }
  .base-program {
    padding: 6rem 0;
  }
  .base-program__slide {
    margin-bottom: 4rem;
  }
  .base-program__slide:last-child {
    margin-bottom: 0;
  }
  .base-program__title {
    margin-bottom: 4rem;
  }
  .base-program-head {
    min-height: 14rem;
    padding: 1.5rem 1.8rem;
  }
  .base-program-head__img {
    width: 25rem;
    right: -3.5rem;
  }
  .base-program-head__img_base {
    width: 30.5rem;
    right: -10rem;
  }
  .base-program-head__img_money_img {
    width: 20rem;
  }
  .base-program-head__timer {
    font-size: 1rem;
    line-height: 1.2rem;
    margin-bottom: 1rem;
  }
  .base-program-head__time {
    font-size: 1rem;
    border-radius: 0.5rem;
    padding: 0.5rem;
  }
  .base-program-head__title {
    font-size: 3.4rem;
    text-shadow: 0px 1rem 3rem rgba(0, 0, 0, 0.35);
  }
  .base-program-body {
    padding: 1rem 2rem 0;
  }
  .base-program-body__text {
    font-size: 1.1rem;
    line-height: 2rem;
  }
  .base-program-body__texts {
    font-size: 1.4rem;
    padding: 1rem 0;
  }
  .base-program-body__texts_small-mob {
    line-height: 105%;
  }
  .base-program-body__svg {
    max-width: 1.8rem;
  }
  .base-program-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .base-program-footer-price__price {
    font-size: 2.8rem;
  }
  .base-program-footer-price__price_discount {
    font-size: 2.2rem;
  }
  .base-program-footer__btn {
    margin: 2rem 0;
    max-width: 26.7rem;
  }
  .base-questions-accordion__item {
    padding: 2rem 0;
    border-bottom: 1px solid #AF00CB;
  }
  .base-questions-accordion__head {
    font-size: 1.4rem;
  }
  .base-questions-accordion__body {
    font-size: 1.2rem;
    padding-top: 1rem;
  }
  .base-telegram__wrap {
    max-width: 100%;
    border-radius: 2rem;
  }
  .base-telegram-body {
    padding: 2.6rem 2.8rem 8.5rem;
  }
  .base-telegram-body__name {
    font-size: 1rem;
    line-height: 1.2rem;
  }
  .base-telegram-body__text {
    font-size: 1.2rem;
    line-height: 1.5rem;
    padding: 1.7rem 2rem;
    width: 28rem;
  }
  .base-telegram-body__text:before {
    left: -1.3rem;
  }
  .base-telegram-body__text p {
    margin-bottom: 1rem;
  }
  .base-telegram-body__text p:last-child {
    margin-bottom: 0;
  }
  .base-telegram-foot {
    padding: 1.1rem;
  }
  .base-order {
    padding: 4.9rem 2.6rem;
    max-width: 32.3rem;
  }
  .base-order__title {
    font-size: 1.6rem;
    line-height: 2rem;
  }
  .base-order-price {
    font-size: 1.2rem;
    line-height: 1.5rem;
    padding: 0.9rem 0 1.4rem;
    margin: 2.3rem 0 2rem;
  }
  .base-order-price__price {
    font-size: 1rem;
    line-height: 1.2rem;
  }
  .base-order__subtitle {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
  .base-order__caption {
    font-size: 1rem;
    line-height: 1.2rem;
    margin: 1rem 0 1.6rem;
  }
  .base-order__label {
    display: none;
  }
  .base-order__input {
    height: 5.4rem;
    padding: 1.9rem 0.9rem;
    width: 100%;
  }
  .base-order__btn {
    max-width: 100%;
    margin: 1.6rem auto 1.4rem;
    height: 2.8rem;
    font-size: 1rem;
  }
  .base-order__small {
    font-size: 0.8rem;
    line-height: 1rem;
  }
  .base-order__banner {
    padding: 1.5rem 1rem;
    font-size: 1.2rem;
  }
  .base-order ::-moz-placeholder {
    font-size: 1.4rem;
    line-height: 1.7rem;
  }
  .base-order :-moz-placeholder {
    font-size: 1.4rem;
    line-height: 1.7rem;
  }
  .base-order :-ms-input-placeholder {
    font-size: 1.4rem;
    line-height: 1.7rem;
  }
  .base-order ::-webkit-input-placeholder {
    font-size: 1.4rem;
    line-height: 1.7rem;
  }
}

.base-payment__section {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.base-payment__title {
  font-size: 5rem;
  line-height: 115%;
}
.base-payment-text {
  font-size: 2.5rem;
  line-height: 115%;
  margin: 3rem 0;
  text-align: center;
  max-width: 93rem;
}
.base-payment-text__link {
  color: #AF00CB;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: underline;
}
.base-payment-text p {
  margin-bottom: 1.5rem;
}
.base-payment-text p:last-child {
  margin-bottom: 0;
}
@media only screen and (max-width: 778px) {
  .base-payment__title {
    font-size: 4rem;
  }
  .base-payment-text {
    font-size: 1.8rem;
    max-width: 70rem;
  }
}
@media only screen and (max-width: 580px) {
  .base-payment__title {
    font-size: 3rem;
  }
  .base-payment-text {
    font-size: 1.4rem;
    max-width: 38rem;
  }
}
@media only screen and (max-width: 450px) {
  .base-payment__title {
    font-size: 2.5rem;
  }
  .base-payment-text {
    max-width: 33rem;
  }
}
